@font-face {
  font-family: 'Orbitron Regular';
  src: url('/static/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Silka Regular';
  src: url('/static/silka-regular-webfont.ttf') format('truetype');
}

body {
  font-family: 'Silka Regular';
  background-color: #101010;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  caret-color: transparent;
}

button, a.btn {
  -webkit-appearance: none;
}

a {
  color: #96c9ff;
  text-decoration: none;
}

h1 {
  font-family: 'Orbitron Regular';
  text-transform: uppercase;
  cursor: pointer;
}

input {
  caret-color: auto;
}

.greater-than {
  color: #0adf1c;
}

.dreams {
  background: radial-gradient(circle at center center, rgba(128, 128, 128, 0.3) 0%, rgba(128, 128, 128, 0) 100%);
  background-size: cover;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  padding: 20px;
  transition: all 0.5s ease;
}

.inputs {
  width: 100%;
}

.input-group {
  max-width: 100%;
}

.dropdown-menu {
  max-width: 480px; /* Adjust this value based on your design requirements */
  min-width: 480px;
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling for overflow content */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.dropdown-item {
  min-width: 480px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the text if it overflows */
}

.input-group-text {
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
}

.input-group .form-control {
  flex-grow: 1;
  flex-shrink: 0;
}

#image {
  max-width: 512px;
  max-height: 512px;
  width: auto;
  height: auto;
}

#mitta {
  cursor: pointer;
}

#comms {
  color: #f4e8c1;
}
#comms, #story {
  max-width: 480px;
  min-width: 480px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .input-group {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #comms, #image, #story {
    max-width: 320px;
    min-width: 320px;
  }
  .dreams {
    align-items: stretch;
  }

  .dropdown-menu {
    min-width: 240px;
    max-width: 320px;
    overflow: hidden; /* Ensures content does not overflow the dropdown menu */
  }
  .dropdown-item {
    min-width: 240px;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds an ellipsis (...) for overflowing text */
  }
}