<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 
  <title>MittaAI | AI News</title>

  <meta name="description" content="Discover and understand the latest in AI and technology, extracting key insights from Hacker News posts." />
  <meta name="image" content="https://ai.mitta.ai/crawl/static/card.png">
  <meta property="og:type" content="web service" />
  <meta property="og:image" content="https://news.mitta.ai/static/card.png" />
  <meta property="og:description" content="Discover and understand the latest in AI and technology, extracting key insights from Hacker News posts." />
  <meta property="og:url" content="https://news.mitta.ai/crawl" />
  <meta property="og:title" content="MittaAI /crawl - AI-Powered Tech News Summarizer" />
  <meta property="article:published_time" content="{{current_date}}" />
  <meta name="author" content="MittaAI Team">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mittacorp" />
  <meta name="twitter:title" content="Mitta AI FFmpeg" />
  <meta name="twitter:description" content="Grabs the latest tech news with AI. AI pipeline powered by MittaAI." />
  <meta name="twitter:image" content="https://news.mitta.ai/static/card.png" />

  <link rel="shortcut icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css?version=1.6">

  <script src="/static/popper.min.js"></script>
  <script src="/static/jquery.min.js"></script>
</head>

<body>

<div class="container-fluid convert">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="mitta"><span class="greater-than">&gt;</span> Tech News</h1>
      <p id="comms"></p>
      <p id="legal"><strong>NOTE</strong>: It is your responsiblity to ensure content is created following MittaAI's guidelines on <a href="https://mitta.ai/legal#responsibility-for-retrieved-and-ai-transformed-data">AI generated content</a>.</p>
      <div class="mb-3 inputs">
        <div class="input-group">
          <input type="text" class="form-control" id="instructionInput">
          <div class="input-group-append">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
              {% for instruction in instructions %}
              <a class="dropdown-item" href="#">{{ instruction }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" id="submit-button">Submit</button>
      <button class="btn btn-outline-dark" id="clear-history-button">Clear History</button>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  // WebSocket setup for server communication
  var protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
  var hostname = window.location.protocol === 'https:' ? 'news.mitta.ai' : 'localhost:5000';
  
  // assemble websocket
  console.log(protocol, hostname);
  var ws = new WebSocket(protocol + hostname + "/ws");
  var uuid = '';

  // open websocket
  ws.onopen = function() {
    console.log("WebSocket connection established");
  };

  // Function to set a cookie
  function setCookie(name, value, days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }

  // Function to get a cookie
  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
  }

  $('#clear-history-button').on('click', function() {
      // Clear the 'instructions' cookie by setting its expiration date to the past
      document.cookie = 'instructions=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      
      // Reload the page to reflect changes
      window.location.reload();
  });

  // Load instructions from the cookie and prepend them to the dropdown
  var savedInstructions = getCookie('instructions');
  var serverInstructions = {{ instructions | tojson }};

  if (savedInstructions) {
    savedInstructions = JSON.parse(savedInstructions);

    savedInstructions.forEach(function(instruction) {
      $('.dropdown-menu').prepend('<a class="dropdown-item" href="#">' + instruction + '</a>');
      // Remove this instruction from serverInstructions if it exists
      var index = serverInstructions.indexOf(instruction);
      if (index > -1) {
        serverInstructions.splice(index, 1);
      }
    });
  }

  $('#instructionInput').keypress(function(event) {
      if (event.which == 13) { // 13 is the key code for Enter
          event.preventDefault(); // Prevent the default action to stop submitting the form in a traditional way
          $('#submit-button').click(); // Trigger the click event on the submit button
      }
  });

  // Append remaining server instructions to the dropdown
  serverInstructions.forEach(function(instruction) {
    $('.dropdown-menu').append('<a class="dropdown-item" href="#">' + instruction + '</a>');
  });

  var resetTimer;
  resetTimer = setTimeout(function() {
  }, 30000);

  var legalTimer;
  legalTimer = setTimeout(function() {
    $('#legal').remove();
  }, 30000);

  ws.onmessage = function(event) {
    console.log("Received a message");
    var data = JSON.parse(event.data);
    console.log(data);
    // look for the UUID
    if (data.uuid) {
        uuid = data.uuid;
        if (uuid == 'anonymous') {
            // reload page to get new socket
            window.location.reload();
        }
    }
    var defaultMessage = 'Enter a search topic or select one to have an AI retreive the latest tech news from <a href="https://news.ycombinator.com/">Hacker News</a>.';

    formattedMessage = defaultMessage
    
    // Format and update comms messages
    if (data.message) {
        formattedMessage = $('<div/>').text(data.message);
        updateCommsText(formattedMessage);
    } else {
      // hn url
      if (data.hn_url && data.title) {
          var commentsText = data.comments + " comments";
          formattedMessage = '<h4>Hacker News Discussion</h4><p><a href="' + $('<div/>').text(data.hn_url).html() + '" target="_blank">' + data.title + '</a></p><p>(' + commentsText + ')</p>'; 
      }

      // story url
      if (data.story_url) {
          // Create a URL object from the story URL
          var urlObj = new URL($('<div/>').text(data.story_url).html());
          
          // Extract the hostname from the URL object
          var hostname = urlObj.hostname;
          
          // Construct the formatted message with the hostname as the link text
          formattedMessage += '<h4>Story Link</h4><p><a href="' + urlObj.href + '" target="_blank">' + hostname + '</a></p><div id="image"></div>'; // Use the hostname as link text
      }

      // summary
      if (data.summary) {
          formattedMessage += "<br/><h4>AI Summary</h4><p>" + $('<div/>').text(data.summary).html() + "</p>";
      }

      // load image or message
      if (data.access_uri) {
        loadImage(data.access_uri);
      } else {
        updateCommsText(formattedMessage);
      }

    }

    clearTimeout(resetTimer);
    resetTimer = setTimeout(function() {
      $('#comms').html(defaultMessage);
    }, 180000); // three minutes
  };

  function loadImage(access_uri) {
      var img = $('<img/>', {
          src: access_uri,
          class: 'rounded',
          style: 'display: none;' // Initially hide the image for animation
      });

      $('#image').html(img); // Add the image to the div
      img.fadeIn('slow'); // Animate the image appearance
  }

  ws.onclose = function() {
    console.log("WebSocket connection closed");
    window.location.reload();
  };

  function updateCommsText(formattedMessage) {
      $('#comms').fadeOut('slow', function() {
          $(this).html(formattedMessage).fadeIn('slow');
      });
  }

  // Form submission handler using jQuery AJAX
  $('#submit-button').on('click', function() {
    var instruction = $('#instructionInput').val();
    var formData = new FormData();
    formData.append('instructions', instruction);
    formData.append('uuid', uuid);

    // Retrieve existing instructions from the cookie
    var savedInstructions = getCookie('instructions');
    if (!savedInstructions) {
        savedInstructions = [];
    } else {
        savedInstructions = JSON.parse(savedInstructions);
    }

    // Save instruction locally if not already
    if (!savedInstructions.includes(instruction)) {
      savedInstructions.push(instruction);
      setCookie('instructions', JSON.stringify(savedInstructions), 7);
    }

    // AJAX request to send instructions to the server
    $.ajax({
      url: '/upload', // Change this to your upload endpoint
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function(response) {
        console.log("Request submitted successfully");
        updateCommsText("News request submitted.");
      },
      error: function(xhr, status, error) {
        console.log("Error submitting crawl:", status, error);
        updateCommsText("Request failed!");
        window.location.reload();
      }
    });
  });

  // default instructions
  $('#instructionInput').val("{{instructions[0]}}");

  // click handlers
  $(document).on('click', function(event) {
    if (!$(event.target).closest('#instructionInput, .dropdown-menu, .dropdown-menu a, #mitta, #file-upload-button, #fileInput, .dropdown-toggle').length) {
      $('.dropdown-menu').hide();
    }
  });

  // Dropdown handlers
  $('.dropdown-menu a').click(function() {
    $('#instructionInput').val($(this).text());
    $('.dropdown-menu').hide();
  });

  $('#instructionInput').on('click', function() {
    $('.dropdown-menu').hide();
  });

  $('#instructionInput').on('keyup', function() {
    $('.dropdown-menu').hide();
  });

  $('.dropdown-toggle').on('click', function() {
    $('.dropdown-menu').toggle();
  });

});
</script>
</body>
</html>