<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 
  <title>MittaAI | Pirate Dreams</title>

  <meta name="description" content="Discover hidden treasures and navigate pirate lore through insights provided by island natives. Experience powered by MittaAI." />
  <meta name="image" content="https://dreams.mitta.ai/static/card.png">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://dreams.mitta.ai/static/card.png" />
  <meta property="og:description" content="Discover hidden treasures and navigate pirate lore through insights provided by island natives. Interactive exploration powered by MittaAI." />
  <meta property="og:url" content="https://dreams.mitta.ai" />
  <meta property="og:title" content="MittaAI | Pirate Dreams" />
  <meta property="article:published_time" content="{{current_date}}" />
  <meta name="author" content="MittaAI">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mittacorp" />
  <meta name="twitter:title" content="Mitta AI | Dreams" />
  <meta name="twitter:description" content="Discover hidden treasures and navigate pirate lore through insights provided by island natives. Experience powered by MittaAI." />
  <meta name="twitter:image" content="https://dreams.mitta.ai/static/card.png" />

  <link rel="shortcut icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css?version=1.13">

  <script src="/static/popper.min.js"></script>
  <script src="/static/jquery.min.js"></script>
</head>

<body>

<div class="container-fluid dreams">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="mitta"><span class="greater-than">&gt;</span> AI Dreams</h1>
      <p style="display: none;" id="comms"></p>
      <div style="display: none;" id="controls">
        <div class="mb-3 inputs">
          <div class="input-group">
            <input type="text" class="form-control" id="instructionInput">
            <div class="input-group-append">
              <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu"></div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" id="embark-button">Dream</button>
        <button class="btn btn-outline-dark" id="clear-history-button">Clear History</button>
        <div id="button-container" class="mt-2"></div>
      </div>
      <!-- Image holder for visual feedback -->
      <div class="rounded mt-4">
        <img id="image" src="/static/{{pirate_filename}}" alt="Dreams Image" style="border-radius: 15px; max-width: 100%; height: auto;">
      </div>

      <!-- Comms from pirate -->
      <div id="story">
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  // WebSocket setup for server communication
  var protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
  var hostname = window.location.protocol === 'https:' ? 'dreams.mitta.ai' : 'localhost:5000';

  // Get the UUID
  var uuid = getCookie('uuid');
  console.log(uuid);

  // default message
  var defaultMessage = "Discover hidden treasures and unravel pirate lore! You are a pirate who has just awakened on a desert island. Select a thought or write your own and then click <strong>dream</strong>.";
  setTimeout(function() {
    $('#comms').html(defaultMessage).fadeIn(1500);
    $('#controls').delay(4000).fadeIn(1500);
  }, 3000);
  
  // Function to set a cookie
  function setCookie(name, value, days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }

  // Function to get a cookie
  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
  }

  // Load instructions from the cookie and prepend them to the dropdown
  var savedInstructions = getCookie('instructions');
  var serverInstructions = {{ instructions | tojson }};

  if (savedInstructions) {
    savedInstructions = JSON.parse(savedInstructions);

    savedInstructions.forEach(function(instruction) {
      $('.dropdown-menu').prepend('<a class="dropdown-item" href="#">' + instruction + '</a>');
      var index = serverInstructions.indexOf(instruction);
      if (index > -1) {
        serverInstructions.splice(index, 1);
      }
    });
  }

  // Append remaining server instructions to the dropdown
  serverInstructions.forEach(function(instruction) {
    $('.dropdown-menu').append('<a class="dropdown-item" href="#">' + instruction + '</a>');
  });

  var resetTimer;
  resetTimer = setTimeout(function() {
  }, 30000);

  function loadImage(access_uri) {
      var img = $('<img/>', {
          src: access_uri,
          class: 'rounded',
          style: 'display: none;' // Initially hide the image for animation
      });

      $('#image').html(img); // Add the image to the div
      img.fadeIn('slow'); // Animate the image appearance
  }

  $('#embark-button').on('click', function() {
    console.log("embark clicked")
    // Fade out elements to prepare for new content
    $('#image, #story, #comms, #button-container').fadeOut('slow');

    // Retrieve the instruction and create FormData
    var instruction = $('#instructionInput').val();
    var formData = new FormData();
    formData.append('instruction', instruction); // Ensure this matches your backend's expected key

    // Optionally append UUID if it exists
    var uuid = getCookie('uuid'); // Assuming getCookie is correctly implemented
    if (uuid) {
      formData.append('uuid', uuid);
    }

    // Update or create 'instructions' cookie
    var savedInstructions = getCookie('instructions') ? JSON.parse(getCookie('instructions')) : [];
    if (!savedInstructions.includes(instruction)) {
      savedInstructions.push(instruction);
      setCookie('instructions', JSON.stringify(savedInstructions), 7); // Save for 7 days
    }

    // AJAX request to send the instruction to the server
    $.ajax({
      url: '/ask', // Update this URL to your endpoint
      type: 'POST',
      data: formData,
      processData: false, // Don't process the files
      contentType: false, // Set content type to false as jQuery will tell the server its a query string request
      success: function(response) {
        // Handle success. For example, display the new image and story
        // Assuming response contains {image_url: '...', story: '...'}
        if (response.image_url) {
          $('#image').attr('src', response.image_url).fadeIn('slow');
        }
        if (response.story) {
          $('#story').html(response.story).fadeIn('slow');
        }
        $('#comms').html("Establishing connection to the passed out pirate.").fadeIn('slow');
      },
      error: function(xhr, status, error) {
        // Handle error
        $('#comms').html("Failed to rouse pirate. Try again.").fadeIn('slow');
        console.error("Error: ", status, error);
      }
    });
  });


  // default instructions
  $('#instructionInput').val("{{instructions[0]}}");

  // Click handlers
  // --------------
  $(document).on('click', function(event) {
    if (!$(event.target).closest('#instructionInput, .dropdown-menu, .dropdown-menu a, #mitta, #file-upload-button, #fileInput, .dropdown-toggle').length) {
      $('.dropdown-menu').hide();
    }
  });

  // Clear the 'instructions' cookie by setting its expiration date to the past
  $('#clear-history-button').on('click', function() {
    console.log("Clearing history.");
    document.cookie = 'instructions=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    window.location.reload();
  });

  $('#instructionInput').keydown(function(event) {
    console.log("Instruction keypress");
    if (event.which == 13) { // 13 is the key code for Enter
        event.preventDefault(); // Prevent the default action to stop submitting the form in a traditional way
        $('#embark-button').click(); // Trigger the click event on the submit button
    }
  });

  // Download image
  $('#image').click(function() {
    var imageUrl = $(this).attr('src'); // Directly use the src attribute of the img tag
    if (imageUrl) {
      $('#comms').fadeOut('slow', function() {
        $(this).html("Stuffing things in bottles and flinging into ocean.").fadeIn('slow');
      });

      // Create a temporary link element
      var downloadLink = $('<a>')
          .attr('href', imageUrl)
          .attr('download', 'downloaded_image.jpg') // Optional: Specify a default filename for the download
          .css('display', 'none');

      // Append the link to the body, trigger the click, and then remove it
      $('body').append(downloadLink);
      downloadLink[0].click();
      downloadLink.remove();
    }
  });

  // Advertising
  $('#mitta').on('click', function() {
    window.location = "https://mitta.ai";
  });

  // Dropdown handlers
  $('.dropdown-menu a').click(function() {
    event.preventDefault();
    $('#instructionInput').val($(this).text());
    $('.dropdown-menu').hide();
  });

  $('#instructionInput').on('click', function() {
    $('.dropdown-menu').hide();
  });

  $('#instructionInput').on('keyup', function() {
    $('.dropdown-menu').hide();
  });

  $('.dropdown-toggle').on('click', function() {
    $('.dropdown-menu').toggle();
  });

  // Assemble websocket
  // ------------------
  var ws;
  var retryCount = 0;

  function connectWebSocket() {
    // Create websocket
    ws = new WebSocket(protocol + hostname + "/ws");
    
    // Open Websocket
    ws.onopen = function() {
      console.log("WebSocket connection established");
      retryCount = 0;
      if (uuid) {
        ws.send(JSON.stringify({uuid: uuid}));
      } else {
        // No cookie for UUID
        console.log("sending empty payload");
        ws.send(JSON.stringify({}));
      }
    };

    // Closed websocket
    ws.onclose = function() {
      console.log("WebSocket connection closed");
      $('#comms').html(defaultMessage).fadeIn(1500);
      attemptReconnect();
    };

    // Message websocket
    ws.onmessage = function(event) {
      var data = JSON.parse(event.data);
      
      // log data
      console.log(data);

      // look for the UUID
      if (data.uuid && data.uuid !== uuid) {
          uuid = data.uuid;
          setCookie('uuid', uuid, 7); // Store the UUID in a cookie for 7 days
      }

      formattedMessage = defaultMessage

      if (data.image_access_uri) {
        $('#comms').fadeOut('slow');
        var img = $('#image');

        // Ensure the image is initially hidden to prevent it from flashing before loading the new source
        img.hide();

        // Set the new image source
        img.attr('src', data.image_access_uri);

        // Fade in the image slowly after the source has been set
        img.on('load', function() {
          $(this).fadeIn('slow');
        });
      }

      if (data.book_content && data.book_title) {
          // Prepare the content with an h4 for the title and a p for the content
          var contentToUpdate = '<h4 class="mt-3">' + data.book_title + '</h4><p>' + data.book_content + '</p>';

          // Target the #story div and update its content with a fade transition
          $('#story').fadeOut('slow', function() {
              // Replace the content inside the #story div
              $(this).html(contentToUpdate).fadeIn('slow');
          });
      }


      if (data.comms) {
          var formattedMessage = $('<div/>').text(data.comms);
          $('#comms').fadeOut('slow', function() {
            $(this).html(formattedMessage).fadeIn('slow');
          });
      }

      // Function to play a single audio file
      function playAudio(uri, delay) {
        return new Promise((resolve) => {
          var audio = new Audio(uri);
          audio.play().then(() => {
            audio.onended = () => {
              // Wait for the specified delay after the audio ends before resolving the promise
              setTimeout(resolve, delay);
            };
          }).catch(e => console.error("Failed to play audio:", e));
        });
      }

      // Function to detect if the user's device is an iPhone
      function isIphone() {
        return /iPhone/.test(navigator.userAgent) && !window.MSStream;
      }

      // Function to handle the setup for iPhone audio playback
      function setupIphoneAudioPlayback(audioUris) {
        // Add a play button for iPhone users
        $('#button-container').html('<button class="btn btn-primary" id="play-audio-button">Speak</button>');
        $('#button-container').fadeIn('slow');

        // Play audio handler for iPhone
        $('#play-audio-button').on('click', function() {
          // Sequentially play each audio file with a delay
          let playSequence = Promise.resolve();
          audioUris.forEach((uri) => {
            playSequence = playSequence.then(() => playAudio(uri, 1000)); // Adjust delay as needed
          });
        });
      }

      // Check if audio URIs are available and set up accordingly
      if (data.audio_access_uris && data.audio_access_uris.length > 0) {
        if (isIphone()) {
          // Set up audio playback for iPhone only when URIs are available
          setupIphoneAudioPlayback(data.audio_access_uris);
        } else {
          // Original code for non-iPhone devices
          $('#comms').fadeOut('slow', function() {
            // Sequentially play each audio file with a delay
            let playSequence = Promise.resolve();
            data.audio_access_uris.forEach((uri) => {
              playSequence = playSequence.then(() => playAudio(uri, 1000)); // Adjust delay as needed
            });
          });
        }
      }

      clearTimeout(resetTimer);
      resetTimer = setTimeout(function() {
        $('#comms').html(defaultMessage);
        $('#image').fadeOut('slow');
        $('#story').fadeOut('slow');
      }, 360000); // six minutes
    
    };
  }

  // Websocket reconnect functions
  function attemptReconnect() {
      var delay = calculateBackoff(retryCount);
      setTimeout(function() {
          console.log(`Attempting to reconnect... Retry #${retryCount + 1}`);
          retryCount++;
          connectWebSocket();
      }, delay);
  }

  function calculateBackoff(retryCount) {
      // Exponential backoff formula
      var maxDelay = 30000; // Maximum delay of 30 seconds
      var baseDelay = 1000; // Initial delay of 1 second
      var delay = Math.min(baseDelay * Math.pow(2, retryCount), maxDelay);
      return delay;
  }

  // Fire up the sockets
  connectWebSocket();

});

</script>
</body>
</html>