<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 
  <title>MittaAI | FFmpeg</title>

  <meta name="description" content='Mitta AI FFmpeg' />
  <meta property='og:image' content="/static/sloth.png" />
  <meta property='og:description' content='Mitta AI FFmpeg' />
  <meta property='og:url' content="https://convert.mitta.us/" />
  
  <meta property='og:title' content="Mitta AI FFmpeg"/>
  <meta property="og:image" content="/static/card.png" />
  <meta property="og:description" content="Intelligent Document Transforming Pipelines for Data Scientists, Developers, and Creators." />
  <meta property="og:url" content="https://convert.mitta.us/" />
  <meta property="og:title" content="MittaAI FFmpeg" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="https://twitter.com/mittacorp" />
  <meta name="twitter:title" content="Mitta AI FFmpeg" />
  <meta name="twitter:description" content="Mitta AI FFmpeg" />
  <meta name="twitter:image" content="/static/card.png" />

  <link rel="shortcut icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css?version=1.2">

  <script src="/static/popper.min.js"></script>
  <script src="/static/jquery.min.js"></script>
</head>

<body>

<div class="container-fluid convert">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="mitta"><span class="greater-than">&gt;</span> FFMpeg AI</h1>
      <p id="comms">Converts images or media files to any type, size, or length. Select a conversion request from the list or enter your own, then click upload.</p>
      <div class="mb-3 inputs">
        <div class="input-group">
          <input type="text" class="form-control" id="instructionInput">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
              {% for instruction in instructions %}
              <a class="dropdown-item" href="#">{{ instruction }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" id="file-upload-button">Upload</button>
    </div>
  </div>
  <input type="file" id="fileInput" style="display: none;">
</div>

<script type="text/javascript">
$(document).ready(function() {
  // doesn't work with local docker?
  var protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
  var hostname = window.location.protocol === 'https:' ? 'ai.mitta.ai' : 'localhost:5000';

  // assemble websocket
  console.log(protocol, hostname);
  var ws = new WebSocket(protocol + hostname + "/ws");
  var uuid = '';

  ws.onopen = function() {
    console.log("WebSocket connection established");
  };

  var resetTimer;
  resetTimer = setTimeout(function() {
    $('#comms').text(comms);
  }, 30000);

  var comms = $('#comms').text();

  ws.onmessage = function(event) {
    console.log("Received a message")
    var data = JSON.parse(event.data);

    // look for the UUID
    if (data.uuid) {
      uuid = data.uuid;
    }

    // update comms messages
    if (data.message) {
      $('#comms').fadeOut('slow', function() {
        $(this).text(data.message).fadeIn('slow');
      });
    }

    clearTimeout(resetTimer);
    resetTimer = setTimeout(function() {
      $('#comms').text(comms);
    }, 30000);

    // show file
    if (data.convert_uri && data.convert_uri != '') {
      console.log("Downloading " + data.filename + " from " + data.convert_uri);
      downloadFile(data.convert_uri, data.filename);
    } else {
      console.log(data);
    }
  };

  ws.onclose = function() {
    console.log("WebSocket connection closed");
  };
  console.log("yup")
  function downloadFile(url, filename) {
    var a = document.createElement('a');
    a.href = url;
    a.download = filename;
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    console.log("Download initiated for: " + filename);
  }

  // default instructions
  $('#instructionInput').val("{{instructions[0]}}");

  // click handlers
  $('.dropdown-menu a').click(function() {
    $('#instructionInput').val($(this).text());
    $('.dropdown-menu').hide();
  });

  $('#mitta').on('click', function() {
    window.location = "https://mitta.ai"
  });

  $('#instructionInput').on('click', function() {
    $('.dropdown-menu').hide();
  });

  $('#instructionInput').on('keyup', function() {
    $('.dropdown-menu').hide();
  });

  $('#file-upload-button').on('click', function() {
      $('#fileInput').trigger('click');
  });

  $('#fileInput').on('change', function() {
      handleFileChange();
  });

  $('.dropdown-toggle').on('click', function() {
    $('.dropdown-menu').toggle();
  });

  // file change handler and upload
  function handleFileChange() {
    var fileInput = $('#fileInput')[0]; // Correctly reference the file input
    if (fileInput.files && fileInput.files[0]) {
      var file = fileInput.files[0];

      var formData = new FormData();
      formData.append('file', file);

      // Retrieve the selected instruction
      var instructions = $('#instructions').find('option:selected').val();
      formData.append('instructions', instructions);

      // Include the UUID in the FormData
      formData.append('uuid', uuid);

      $.ajax({
        url: '/upload',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          console.log("File uploaded successfully");
          $('#fileInput').val('');;
        },
        error: function(xhr, status, error) {
          console.log("Error in file upload:", status, error);
          $('#fileInput').val('');
        }
      });
    }
  }
});

</script>
</body>
</html>