<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 
  <title>MittaAI | FFmpeg</title>

  <meta name="description" content='Mitta AI FFmpeg' />
  <meta property='og:image' content="/static/sloth.png" />
  <meta property='og:description' content='Mitta AI FFmpeg' />
  <meta property='og:url' content="https://convert.mitta.us/" />
  
  <meta property='og:title' content="Mitta AI FFmpeg"/>
  <meta property="og:image" content="/static/card.png" />
  <meta property="og:description" content="Intelligent Document Transforming Pipelines for Data Scientists, Developers, and Creators." />
  <meta property="og:url" content="https://convert.mitta.us/" />
  <meta property="og:title" content="MittaAI FFmpeg" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="https://twitter.com/mittacorp" />
  <meta name="twitter:title" content="Mitta AI FFmpeg" />
  <meta name="twitter:description" content="Mitta AI FFmpeg" />
  <meta name="twitter:image" content="/static/card.png" />

  <link rel="shortcut icon" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css?version=1.0">

  <script src="/static/jquery.min.js"></script>
</head>

<body>
<div class="container-fluid convert">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="mitta"><span class="greater-than">&gt;</span> MittaAI</h1>
      <p id="comms">Enter a conversion request and click upload to select a file.</p>
      <div class="input-group mb-3 inputs">
        <input id="instructions" type="text" class="form-control" value="{{instructions}}" aria-label="instructions" aria-describedby="file-upload-button">
        <div class="input-group-append">
          <span class="input-group-text" id="file-upload-button">Upload</span>
        </div>
      </div>
    </div>
  </div>
  <input type="file" id="fileInput" style="display: none;">
</div>

<script type="text/javascript">
$(document).ready(function() {
  // doesn't work locally?
  var protocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
  var hostname = window.location.protocol === 'https:' ? 'ai.mitta.ai' : 'localhost:5000';

  console.log(protocol, hostname);
  var ws = new WebSocket(protocol + hostname + "/ws");
  var uuid = '';

  ws.onopen = function() {
    console.log("WebSocket connection established");
  };
  var resetTimer;
  resetTimer = setTimeout(function() {
    $('#comms').text(comms);
  }, 30000);

  var comms = $('#comms').text();

  ws.onmessage = function(evt) {
    console.log("received a message")
    var data = JSON.parse(evt.data);

    if (data.uuid) {
      uuid = data.uuid;
    }

    // update messages
    if (data.message) {
      $('#comms').text(data.message);
    }

    clearTimeout(resetTimer);
    resetTimer = setTimeout(function() {
      $('#comms').text(comms);
    }, 30000);

    // show file
    if (data.convert_uri != null) {
      downloadFile(data.convert_uri[0], data.filename[0]);
    } else {
      console.log(data);
    }
  };

  ws.onclose = function() {
    console.log("WebSocket connection closed");
  };

  function updatePage(data) {
    console.log(JSON.stringify(data));
  }

  function downloadFile(url, filename) {
    var a = document.createElement('a');
    a.href = url;
    a.download = filename;
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    console.log("Download initiated for: " + filename);
  }

  var instructionsFromBackend = "{{ instructions | safe }}";

  // Use jQuery to set the value of the instructions input field
  $('#instructions').val(instructionsFromBackend);

  $('#mitta').on('click', function() {
    window.location = "https://mitta.ai"
  });

  // When the 'Upload' span is clicked
  $('#file-upload-button').on('click', function() {
    // Trigger the file input dialog
    $('#fileInput').click();
  });

  function resetFileInput() {
    $('#fileInput').remove(); // Remove the existing input
    $('.inputs').append('<input type="file" id="fileInput" style="display: none;">'); // Add a new input
    $('#fileInput').on('change', handleFileChange); // Re-bind the change event correctly
  }

  $('#fileInput').on('change', handleFileChange);

  function handleFileChange() {
    // Get the file from the input
    var file = this.files[0];

    // Check if a file is selected
    if (file) {
      // Process the file upload
      var formData = new FormData();
      formData.append('file', file);

      // Add any other data you want to send
      var instructions = $('#instructions').val();
      formData.append('instructions', instructions);
      formData.append('uuid', uuid); // Include the UUID in the FormData

      // AJAX request to upload the file
      $.ajax({
        url: '/upload',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          console.log('File uploaded successfully');
          resetFileInput();
        },
        error: function(xhr, status, error) {
          console.error('File upload failed');
          resetFileInput();
        }
      });
    }
  }
});

</script>

</body>

</html>